<?xml version="1.0" encoding="utf-8"?>
<subsystem name="Salario">
    <module name="Incidencias" desc="Module para gestionar los oficiales de la empresa">
        <js>Incidencias</js>
        <functions>
            <GestionarOficial source="IncidenciasGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="Tcuentas" desc="Module para gestionar los oficiales de la empresa">
        <js>Tcuentas</js>
        <functions>
            <GestionarOficial source="TcuentasGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="Interrupciones" desc="Module para gestionar los oficiales de la empresa">
        <js>Interrupciones</js>
        <functions>
            <GestionarOficial source="InterrupcionesGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="Canalisis" desc="Module para gestionar los oficiales de la empresa">
        <js>Canalisis</js>
        <functions>
            <GestionarOficial source="CanalisisGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="Descuentos" desc="Module para gestionar los oficiales de la empresa">
        <js>Descuentos</js>
        <functions>
            <GestionarOficial source="DescuentosGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="ElementoGasto" desc="Module para gestionar los oficiales de la empresa">
        <js>ElementoGasto</js>
        <functions>
            <GestionarOficial source="ElementoGastoGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="ReporteIndicadores" desc="Module para gestionar los oficiales de la empresa">
        <js>ReporteIndicadores</js>
        <functions>
            <GestionarOficial source="ReporteIndicadoresGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="Vacaciones" desc="Module para gestionar los oficiales de la empresa">
        <js>Vacaciones</js>
        
    </module>
    <module name="CentroCosto" desc="Module para gestionar los oficiales de la empresa">
        <js>CentroCosto</js>
        <functions>
            <GestionarOficial source="CentroCostoGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="PagoProyecto" desc="Module para gestionar los oficiales de la empresa">
        <js>PagoProyecto</js>
        <functions>
            <GestionarOficial source="PagoProyectoGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="ConfArea" desc="Module para gestionar los oficiales de la empresa">
        <js>ConfArea</js>
        <functions>
            <GestionarOficial source="ConfAreaGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="Deduciones" desc="Module para gestionar los oficiales de la empresa">
        <js>Deduciones</js>
        <functions>
            <Deduciones source="DeducionesGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="ConfSalario" desc="Module para gestionar los oficiales de la empresa">
        <js>ConfSalario</js>
        <functions>
            <ConfSalario source="ConfSalarioGestionar" desc="Funcion para gestionar los oficiales"/>
        </functions>
    </module>
    <module name="Nomina" desc="Module para gestionar los oficiales de la empresa">
        <js>Nomina</js>
        <functions>
            <Nomina source="NominaGestionar" desc="Gestion de Nominas"/>
        </functions>
    </module>
</subsystem>
