<?xml version="1.0" encoding="utf-8"?>
<subsystem name="Pago">
    <module name="Area" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Area</js>
        <functions>
            <Gestionararea source="AreaGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Oficial" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Oficial</js>
        <functions>
            <GestionarOficial source="OficialGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Tcondecoracion" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
	<js>Tcondecoracion</js>
        <functions>
            <GestionarTcondecoracion source="TcondecoracionGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Cmilitar" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Cmilitar</js>
        <functions>
            <GestionarCmilitar source="CmilitarGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Gmilitar" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Gmilitar</js>
        <functions>
            <GestionarGmilitar source="GmilitarGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Sexo" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Sexo</js>
        <functions>
            <GestionarSexo source="SexoGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Provincia" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Provincia</js>
        <functions>
            <GestionarProvincia source="ProvinciaGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Municipio" desc="Module para gestionar la Categoria Ocupacional referentes a los trabajadores">
        <js>Municipio</js>
        <functions>
            <GestionarCtipo source="MunicipioGestionar" desc="Function for add "/>
        </functions>
    </module>
    <module name="Reparto" desc="Module para gestionar la Categoria Ocupacional referentes a los trabajadores">
        <js>Reparto</js>
        <functions>
            <GestionarCtipo source="RepartoGestionar" desc="Function for add "/>
        </functions>
    </module>
    <module name="LProcedencia" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>LProcedencia</js>
        <functions>
            <GestionarLProcedencia source="LProcedenciaGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="RMilitar" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>RMilitar</js>
        <functions>
            <GestionarRMilitar source="RMilitarGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Intragracion" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Intragracion</js>
        <functions>
            <GestionarIntragracion source="IntragracionGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>

    <module name="Talla" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Talla</js>
        <functions>
            <GestionarTalla source="TallaGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="TallaTipo" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>TallaTipo</js>
        <functions>
            <GestionarTalla source="TallaTipoGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Uexpecial" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Uexpecial</js>
        <functions>
            <GestionarUexpecial source="UexpecialGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Ecivil" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Ecivil</js>
        <functions>
            <GestionarEcivil source="EcivilGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="UdefensaT" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
    <js>UdefensaT</js>
    <functions>
        <GestionarUdefensaT source="UdefensaTGestionar" desc="Function for add an condecorations"/>
    </functions>
    </module>
    <module name="Udefensa" desc="Module para gestionar los tipos de condecoraciones de los trabajadores">
        <js>Udefensa</js>
        <functions>
            <GestionarUdefensa source="UdefensaGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Ctipo" desc="Module para gestionar los tipos de contratos de los trabajadores">
        <js>Ctipo</js>
        <functions>
            <GestionarCtipo source="CtipoGestionar" desc="Function for add an condecorations"/>
        </functions>
    </module>
    <module name="Resolucion" desc="Module para gestionar las resoluciones referentes a los trabajadores">
        <js>Resolucion</js>
        <functions>
            <GestionarCtipo source="ResolucionGestionar" desc="Function for add "/>
        </functions>
    </module>
    <module name="Cocupacional" desc="Module para gestionar la Categoria Ocupacional referentes a los trabajadores">
        <js>Cocupacional</js>
        <functions>
            <GestionarCtipo source="CocupacionalGestionar" desc="Function for add "/>
        </functions>
    </module>
    <module name="GEscala" desc="Module para gestionar la Categoria Ocupacional referentes a los trabajadores">
        <js>GEscala</js>
        <functions>
            <GestionarCtipo source="GEscalaGestionar" desc="Function for add "/>
        </functions>
    </module>
    <module name="Empresa" desc="Module para gestionar la Categoria Ocupacional referentes a los trabajadores">
        <js>Empresa</js>
        <functions>
            <GestionarCtipo source="EmpresaGestionar" desc="Function for add "/>
        </functions>
    </module>
    <module name="NJuridica" desc="Module para gestionar la Categoria Ocupacional referentes a los trabajadores">
        <js>NJuridica</js>
        <functions>
            <GestionarCtipo source="NJuridicaGestionar" desc="Function for add "/>
        </functions>
    </module>
    <module name="ClassDI" desc="Module para gestionar la Categoria Ocupacional referentes a los trabajadores">
        <js>ClassDI</js>
        <functions>
            <GestionarCtipo source="ClassDIGestionar" desc="Function for add "/>
        </functions>
    </module>
	<module name="NCultural" desc="Module to manage the systems of the application">
		<js>NCultural</js>
          <functions>
			<Import source="NCulturalGestionar" desc="Function for import a subsystem"/>
          </functions>
	</module>
    <module name="CPiel" desc="Module to manage the systems of the application">
        <js>CPiel</js>
        <functions>
            <Import source="CPielGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
     <module name="Anno" desc="Module to manage the systems of the application">
        <js>Anno</js>
        <functions>
            <Import source="AnnoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Mes" desc="Module to manage the systems of the application">
        <js>Mes</js>
        <functions>
            <Import source="MesGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Anno_Mes" desc="Module to manage the systems of the application">
        <js>Anno_Mes</js>
        <functions>
            <Import source="Anno_MesGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Cliente" desc="Module to manage the systems of the application">
        <js>Cliente</js>
        <functions>
            <Import source="ClienteGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Contratoooo" desc="Module to manage the systems of the application">
        <js>Contratoooo</js>
        <functions>
            <Import source="ContratooooGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="NPreparacion" desc="Module to manage the systems of the application">
        <js>NPreparacion</js>
        <functions>
            <Import source="NPreparacionGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Cargo" desc="Module to manage the systems of the application">
        <js>Cargo</js>
        <functions>
            <Import source="CargoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>

	 <module name="Condecoracion" desc="Module to manage the systems of the application">
        <js>Condecoracion</js>
        <functions>
            <Import source="CondecoracionGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Reporte_pago" desc="Module to manage the systems of the application">
        <js>Reporte_pago</js>
        <functions>
            <Import source="Reporte_pagoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Trabajador" desc="Module to manage the systems of the application">
        <js>Trabajador</js>
        <functions>
            <Import source="TrabajadorGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="UdefensaT" desc="Module to manage the systems of the application">
        <js>UdefensaT</js>
        <functions>
            <Import source="UdefensaTGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Proyecto" desc="Module to manage the systems of the application">
        <js>Proyecto</js>
        <functions>
            <Import source="ProyectoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Lcargos" desc="Module to manage the systems of the application">
        <js>Lcargos</js>
        <functions>
            <Import source="LcargosGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Agencia" desc="Module to manage the systems of the application">
        <js>Agencia</js>
        <functions>
            <Import source="AgenciaGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Plantilla" desc="Module to manage the systems of the application">
        <js>Plantilla</js>
        <functions>
            <Import source="PlantillaGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Contrato" desc="Module to manage the systems of the application">
        <js>Contrato</js>
        <functions>
            <Import source="ContratoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>

    <module name="Trabajador_proyecto" desc="Module to manage the systems of the application">
        <js>Trabajador_proyecto</js>
        <functions>
            <Import source="Trabajador_proyectoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
	<module name="Traondecoracion" desc="Module to manage the systems of the application">
        <js>Traondecoracion</js>
        <functions>
            <Import source="TraondecoracionGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Mbaja" desc="Module to manage the systems of the application">
        <js>Mbaja</js>
        <functions>
            <Import source="MbajaGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Dbaja" desc="Module to manage the systems of the application">
        <js>Dbaja</js>
        <functions>
            <Import source="DbajaGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Cargo_X_Unidad" desc="Module to manage the systems of the application">
        <js>Cargo_X_Unidad</js>
        <functions>
            <Import source="Cargo_X_UnidadGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Resumenes" desc="Module to manage the systems of the application">
        <js>Resumenes</js>
        <functions>
            <Import source="ResumenesGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Forma_Pago" desc="Module to manage the systems of the application">
        <js>Forma_Pago</js>
        <functions>
            <Import source="Forma_PagoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Sistema_Pago" desc="Module to manage the systems of the application">
        <js>Sistema_Pago</js>
        <functions>
            <Import source="Sistema_PagoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
    <module name="Horario_Pago" desc="Module to manage the systems of the application">
        <js>Horario_Pago</js>
        <functions>
            <Import source="Horario_PagoGestionar" desc="Function for import a subsystem"/>
        </functions>
    </module>
</subsystem>
