==
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">


    <div class="container-fluid">                <!-- Brand and toggle get grouped for better mobile display -->


        <div class="navbar-header">


            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"


                    data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span


                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>


            <img src="themes/eddremonts/assets/images/index/edd.jpeg" width="42px" height="42px"


                 style="margin-top: 3px; float: left" class=" img-circle img-thumbnail">

            <a id="edd" class="navbar-brand page-scroll" href="/">&nbsp; &nbsp;Eduardo Valdes Inerarte</a></div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">


                <li><a class="page-scroll" href="index#page-top">Home</a></li>

                <li><a class="page-scroll" href="portfolio">Portfolio</a></li>

                <li><a class="page-scroll" href="skilled">Skills</a></li>

                <li><a class="page-scroll" href="index#presen">About Me</a></li>

                <li><a class="page-scroll" href="index#experi">Experience</a></li>

                <li><a class="page-scroll" href="index#contac">Contact</a></li>

                <li class="text-center">

                    <a target="_blank"
                       href="https://drive.google.com/open?id=0B7V0tRMKC_PcWVZPUUc4LTFOcTg"
                       role="button">
                        <i class="icon-download icon-2x bounceInRight animated " aria-hidden="true"></i></a>
                </li>

            </ul>


        </div>                <!-- /.navbar-collapse -->            </div>            <!-- /.container-fluid -->


</nav>