body{
    margin: 5%;
    padding: 2px;
    margin-top:-1px;
    height: 1200px;
    background-image: url("../img/hr02.gif");
}
.banner1{
    float: right;
    position:relative;
    margin-top:-170px;
    margin-right: 10px;
    *background-color: #165387;
    *color:#ffffff;
}
.banner2{
    float: right;
    position:relative;
    margin-top:-100px;
    margin-right: 10px;
    *background-color: #2778dc;
    *color:#ffffff;
}
.navigation{
    background-color: #2778dc;
    color:#ffffff;margin-bottom: 15px;
}
.home_link {
    background-color: #008cba !important;
    border-radius: 25px  25px  25px  25px;
    -webkit-border-radius: 25px  25px  25px  25px;
}
.top_link {
    background-color: #008cba !important;
    border-radius: 25px  25px  25px  25px;
    -webkit-border-radius: 25px  25px  25px  25px;
}
.Cbady{
    height: 100%;
    width: 100%;
    *border: 1px groove #2778dc ;
}
.left-panel{
    float: left;
    height: auto;
    width: 19.5%;
    *border: 1px dashed #000000;
}
.right-panel{
    float: right;
    height: auto;
    width: 19.5%;
    *border: 1px dashed #000000;
}
.center{
    height: auto;
    min-height: 100%;
    width: 60%;
    *border: 1px dashed #000000;
    padding-bottom: 15px;
}
.info_center{
    height: auto !important;
    width: 100%;
    margin-top: 2px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}
.info_center2{
    height: auto !important;
    width: 100%;
    margin-top: -1px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    text-align: left;
}
.info_center3{
    height: auto !important;
    width: 100%;
    margin-top: 2px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    text-align: left;
}
.footer{
    height:auto;
    width: 100%;
    padding: 5px;
}
.pre-footer{
    height:auto;
    width: 99.9%;
    float:inherit;
    padding: 5px;
    border-bottom:1px dashed #f5f5f5 ;
}
.bordes{
    border-radius: 18px 18px 18px 18px;
   -webkit-border-radius:18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -o-border-radius: 18px 18px 18px 18px;
}
.borde{
    border: 0px #008cba solid;
    border-top: 0px;
    margin-top: -9.95px;
    margin-bottom: 15px;
    padding-top: 4px;
    padding: 0px;
}
.list-group  a{
    color: #808080 !important;
    text-align: left !important;
}
.panel-heading{
    color: #808080 !important;
    text-align: left !important;
}
.panel-heading h3{
    color: #ffffff !important;
    text-align: left !important;
}
.fondo{

    background-color: #008cba;
    *padding: 2px;
    padding-top: 0px;
    *box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;

}
.panel-primary{
    border: 1px dashed #ffffff;
}
.footer_fon{
    float: right;
    width: 100%;
    margin-left: -2px;
    margin-top: -10px;
    padding-top: 15px;
    background-color: #000000;
    opacity: 0.88;
}
.panel-footer_mio {
    padding: 10px 15px;
    background-color: #165387;
    border-top: 1px solid #2778dc;
    margin-top: -21.5px;
    color: #ffffff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#up{
    background-image: url('../img/hr02.gif') !important;
    background-repeat: repeat;
    height: 180px;
}
.cent{
    background-image: url('../img/negro.png') !important;
    background-repeat: repeat;
    height: 100%;
    min-height: 150px;
    margin-top: -15px;
    margin-bottom: 15px;
    width: 100%;
}

/*=====================================================menu desplegable=========================================*/
.sub-menu{
    margin-left: -2px;
    *border-bottom: 15px solid #2fa4e7;

    border-radius: 4px 4px 4px 4px;!important;
    -webkit-border-radius: 4px 4px 4px 4px; !important;
    -moz-border-radius:4px 4px 4px 4px; !important;
    -o-border-radius: 4px 4px 4px 4px; !important;

    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow:0px 6px 12px rgba(0, 0, 0, 0.175);
    -o-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.15);


    opacity:1;
}
.sub-menu li :hover{
    color: #ffffff;
    background-color: #2fa4e7;
}
.menu ul  {
    margin: -2;
    padding: 0;
    list-style: none;
    width: auto; /* Width of Menu Items */
    min-width: 200px;
    text-align: left;
}
.navbar-nav  li {
    position: relative;
}
li ul {
    position: absolute;
    left: 204px; /* Set 1px less than menu width */
    top: 0;
    display: none;
}
.menu ul li a {
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff; /* IE6 Bug */
    padding: 5px;
    *border: 1px solid #ccc; /* IE6 Bug */
    border-bottom: 0;
}
html .menu ul li { float: none; height: 1%; }
html .menu ul li a { height: 1%; }
.menu li:hover ul, .menu li.over ul {
    display: block;
}
.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus{
    text-align: left;
}
h1,h2,h3,h4,h5,h6{
    color:#008cba !important;
}

/*============================================================================================================*/
#links_to {
    position: fixed;
    bottom: 50px;
    display: none
}
.home_link {
    display: block;
    height: 50px;
    width: 50px;

}
.home_link:hover {
    background-position: -1700px 0
}
.top_link {
    display: block;
    height: 50px;
    width: 50px;
    margin-top: 5px
}
.top_link:hover {
    background-position: -1800px 0
}
#top_header_wrapper {
    background: #000
}
.panel-body1{padding: 15px}


