body {
    height: 100%;
    width: 100%;
    margin-top: 5px;
    position: relative;
    background-color: rgba(7, 7, 7, 0);;
    color: #08c;
    z-index: 10000;
    background: url("../images/general/bg1.png");

}

@font-face {
    font-family: fontArt;
    src: url(fonts/BLKCHCRY.TTF);
}

.error_edd {
    position: fixed;
    width: auto;
    height: 100px;
    z-index: 10001;
    margin-left: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 0px;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 2px 0 0 2px;
    border-left: 25px solid #08c;
    color: rgba(255, 0, 0, 0.50);
}

#cerrar_edd {
    float: right;
    cursor: pointer;
}

/*Detalles de el menu general del sitio*/
#edd_top_menu {
    float: none;
    padding-bottom: 0px;
    color: rgba(30, 34, 37, 0.65);
}

#edd_top_menu .nav-pills {
    *background: rgba(255, 255, 255, 0.34);
    background: rgba(59, 59, 59, 0.75);
    padding: 10px;
    height: 20px;
    float: none;
    color: rgba(255, 255, 255, 1);
    border-bottom: 0px solid rgba(255, 255, 255, 0.50);
}

#edd_top_menu .nav-pills > li > a {
    height: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-top: -10px;
    margin-bottom: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: rgba(255, 255, 255, 1);

}

#edd_top_menu .nav-pills > .active > a, #edd_top_menu .nav-pills > .active > a:hover, #edd_top_menu .nav-pills > .active > a:focus {
    text-decoration: none;
    /* background: #08c;*/
    background: rgba(0, 136, 204, 0.75);
    color: rgba(255, 255, 255, 1);
    border: 0px solid rgba(0, 136, 204, 0.75);

}

#edd_top_menu .nav > li > a:hover, #edd_top_menu .nav > li > a:focus {
    text-decoration: none;
    background: rgba(0, 136, 204, 0.75);
    color: rgba(255, 255, 255, 0.74);
    border: 0px solid #08c;
}

/*Detalles generales de el contenido*/
section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    /*background: url("http://upside/App/imag/fond.jpg") center center;*/
    color: rgba(30, 34, 37, 0.65);
}

/* Todos los detalles sobre la section HOME*/
.home-section {
    background: url("../images/bases/edd_home_baseWB.png");
    position: relative;
    margin-top: -5px;
    text-align: left;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(30, 34, 37, 0.65);
}

.home_internal {
    float: right;
    margin-right: 25px;
    color: rgba(30, 34, 37, 0.65);
    padding: 25px;
    padding-bottom: 0px;
    background: rgba(255, 255, 255, 0.64);
    border-radius: 0 0px 2px 2px;
    width: 27%;
    margin-top: -40px;
    box-shadow: 2px -1px 20px rgba(59, 59, 59, 0.48);
    -moz-box-shadow: 2px -1px 20px rgba(59, 59, 59, 0.48);
    -webkit-box-shadow: 2px -1px 20px rgba(59, 59, 59, 0.48);
    -o-box-shadow: 2px -1px 20px rgba(59, 59, 59, 0.48);

    border: 1px solid rgba(0, 0, 0, 0.56);
    border-top: 45px solid rgba(0, 0, 0, 0.56);
    border-bottom: 5px solid rgba(0, 0, 0, 0.56);
    border-right: 5px solid rgba(0, 0, 0, 0.56);
    border-left: 1px solid rgba(0, 0, 0, 0.56);
}

.home_internal p {
    text-align: left;
    line-height: 20px;
    color: rgba(30, 34, 37, 0.65);
    margin-bottom: 15px;
}

#edd_home_ ul {
    width: 100%;
    margin-left: 100%;
    float: right;

}

#edd_home_ .nav-pills > li > a {
    height: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: rgba(30, 34, 37, 0.65);
    border-radius: 2px;
    border: 1px solid rgba(30, 34, 37, 0.65);
}

#edd_home_ .nav > li > a:hover, #edd_home_ .nav > li > a:focus {
    text-decoration: none;
    background: rgba(0, 136, 204, 0.75);
    color: rgba(255, 255, 255, 0.74);
    border: 1px solid rgba(0, 136, 204, 0.75);
    border-radius: 2px;
}

#edd_home_ .nav-pills > .active > a, #edd_home_ .nav-pills > .active > a:hover, #edd_home_ .nav-pills > .active > a:focus {
    text-decoration: none;
    background: rgba(0, 136, 204, 0.75);
    color: rgba(255, 255, 255, 0.74);
    border: 1px solid rgba(0, 136, 204, 0.75);
    border-radius: 2px;
}

#edd_home_ h1, h2, h3 {
    font-family: fontArt;
    font-size: 40px;
    padding-bottom: 2px;
}

.social {
    margin-top: 35px;
}

.social a {
    margin: 7px;
    text-decoration: none;
    color: #08c;
}

.social a:hover {
    color: rgba(30, 34, 37, 0.65);
}

/* Todos los detalles sobre la section*/
.inicio-section {
    position: relative;
    margin-top: -5px;
    padding: 55px;
    color: rgba(255, 255, 255, 1);
}

.inicio-section .text {
    padding-bottom: 50px;
    line-height: 25px;
    font-size: 15px;
}

.inicio-section img {
    border: 3px solid rgba(255, 255, 255, 0.74);
    border-radius: 50%;
}

.inicio-section h1, h2, h3 {
    font-family: fontArt
}

.component-section {
    position: relative;
    height: auto;
}

.component-section .container {
    background: rgba(255, 255, 255, 0.54);
    padding: 15px;
}

.component-section .container img {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.54);;
}

.component-section .container .thumbnail {
    border-radius: 50%;
}

.social_back {
    margin: 5px;
    *padding: 5px;
    padding-left: 10px;
    min-height: 300px;
    height: auto;
    background: rgba(59, 59, 59, 0.50);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
}

.social_back_award {
    margin: 5px;
    padding: 15px;
    padding-left: 10px;
    height: auto;
    background: rgba(59, 59, 59, 0.50);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    color: #f5f5f5;
}

.social_back_award_white {
    margin: 5px;
    padding: 15px;
    padding-left: 10px;
    height: auto;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    color: #f5f5f5;
}

.social_back_award_img {
    margin: 0px;
    padding: 15px;
    padding-left: 10px;
    min-height: 265px;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 4px 4px 4px 4px;
    color: #f5f5f5;
}

.social_back_award_img_ {
    margin: px;
    min-height: 265px;
    padding: 15px;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 4px 4px 0px 0px;
    color: #f5f5f5;
}

.intro-section {
    position: relative;
}

.line-section {
    position: relative;
}

.studies-section {
    position: relative;
}

.skills-section {
    position: relative;
}

.award-section {
    margin-top: 70px;
    position: relative;
}

.design-section {
    position: relative;
}

.contact-section {
    position: relative;
}

.about-section {
    position: relative;
}

.page-header {
    margin: 0px 0px 0px 0px;
    padding: 15px;
    width: 98%;

}


.fondo_seccion_home_black {
    margin-top: 35px;
    background: rgba(59, 59, 59, 0.75);
}
.fondo_seccion_awor__black {
    margin-top: 0px;
    background: rgba(0, 136, 204, 0.75);
}
.fondo_seccion_dising_black {
    background: rgba(59, 59, 59, 0.75);
}
.indicators {
    background: rgba(59, 59, 59, 0.75);
    padding: 10px;
    border-radius: 14px;
}
.indicators_global {
    float: right;
    margin-top: -45px;
    margin-right: 45px;
    margin-bottom: -55px;

}

.indicators_prev{
    margin-left: 25px;
    background: rgba(59, 59, 59, 0.75);
    padding: 10px;
    border-radius: 14px 0 0 14px;
}
.indicators_next{
    margin-left: 0px;
    background: rgba(59, 59, 59, 0.75);
    padding: 10px;
    border-radius: 0 14px 14px 0px;
}

/*================================Heredados de la vercion WebApp=========================================*/

.fondo {
    text-shadow: 1px 2px 0px #3b3b3b;
    border-bottom: 40px solid #3b3b3b;
    padding: 18px 18px 14px;
    max-width: auto;
    margin: 0 auto -80px;
    min-height: 350px;
    box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -moz-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -webkit-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -o-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    background: rgba(59, 59, 59, 0.50);
}

.fondo_leng {
    text-shadow: 1px 2px 0px #3b3b3b;
    border-bottom: 5px solid #3b3b3b;
    padding: 5px 5px 5px;
    max-width: auto;
    margin: 0 auto -80px;
    border-radius: 0 0 4px 4px;
    box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -moz-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -webkit-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -o-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    background: rgba(59, 59, 59, 0.50);
}

.fondo_izq {
    text-shadow: 1px 2px 0px #3b3b3b;
    border-bottom: 40px solid #3b3b3b;
    padding: 5px;
    max-width: auto;
    margin: 0 auto -80px;
    min-height: auto;
    *box-shadow: 10px 10px 88px rgb(59, 59, 59);
    background: rgba(59, 59, 59, 0.50);
    margin-bottom: 100px;
    border-radius: 4px 0px 0px 10px;
    -webkit-border-radius: 4px 0px 0px 10px;
    -moz-border-radius: 4px 0px 0px 10px;
    -o-border-radius: 4px 0px 0px 10px;
    text-align: left;
}

.fondo_izq_about {
    text-shadow: 1px 2px 0px #3b3b3b;
    *border-left: 40px solid #3b3b3b;
    padding: 18px 18px 14px 25px;
    max-width: auto;
    margin: 0 auto -80px;
    min-height: 350px;
    *box-shadow: 10px 10px 88px rgb(59, 59, 59);
    *background: rgba(59, 59, 59, 0.50);
    margin-bottom: 100px;
    *border-radius: 10px 0px 0px 10px;
    *-webkit-border-radius: 10px 0px 0px 10px;
    *-moz-border-radius: 10px 0px 0px 10px;
    *-o-border-radius: 10px 0px 0px 10px;
    *text-align: center;
}

.fondo_der {
    text-shadow: 1px 2px 0px #3b3b3b;
    border-right: 40px solid #3b3b3b;
    padding: 18px 18px 14px 25px;
    max-width: auto;
    margin: 0 auto -80px;
    min-height: 350px;
    box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -webkit-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -moz-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -o-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    background: rgba(59, 59, 59, 0.50);
    margin-bottom: 100px;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
    text-align: left;
}

.fondo_top {
    *text-shadow: 1px 2px 0px #3b3b3b;
    border-top: 40px solid #3b3b3b;
    border-bottom: 25px solid #3b3b3b;
    padding: 18px 18px 14px 25px;
    max-width: auto;
    margin: 0 auto -80px;
    min-height: auto;
    box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -webkit-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -moz-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    -o-box-shadow: 10px 10px 88px rgb(59, 59, 59);
    /*background: rgba(59, 59, 59, 0.50);*/
    background: rgba(255, 255, 255, 0.45);
    margin-bottom: 100px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    text-align: left;
}

.abajo {
    margin-top: 0px;
    margin-bottom: 78px;
    color: #fefefe;
    background: #3b3b3b;
    padding: 10px;
    border-radius: 100%;
    background: rgb(59, 59, 59);
    float: right;
}

.abajo_inicio {
    margin-top: -30px;
    margin-bottom: 78px;
    color: #fefefe;
    background: #3b3b3b;
    padding: 10px;
    border-radius: 100%;
    background: rgb(59, 59, 59);
}

.fondoround {
    -webkit-border-radius: 90px 90px 90px 90px;
    -ms-border-radius: 90px 90px 90px 90px;
    -o-border-radius: 90px 90px 90px 90px;
    -moz-border-radius: 90px 90px 90px 90px;
    border-radius: 90px 90px 90px 90px;
    height: 90px;
    width: 90px;
    text-align: center;
    padding: 9px;
    background-color: #3b3b3b;

}

.fondoround_button {
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    padding: 9px;
    background-color: #3b3b3b;

}

.fondoround:hover, .fondoround_button:hover {
    background-color: #204d74
}

.social_back {
    margin: 5px;
    *padding: 5px;
    padding-left: 10px;
    min-height: 300px;
    height: auto;
    background: rgba(59, 59, 59, 0.50);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
}

.social_back_award {
    margin: 5px;
    padding: 15px;
    padding-left: 10px;
    height: auto;
    background: rgba(59, 59, 59, 0.50);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    color: #f5f5f5;
}

.social_back_award_white {
    margin: 5px;
    padding: 15px;
    padding-left: 10px;
    height: auto;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    color: #f5f5f5;
}

.social_back_award_img {
    margin: 0px;
    padding: 15px;
    padding-left: 10px;
    min-height: 265px;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 4px 4px 4px 4px;
    color: #f5f5f5;
}

.social_back_award_img_ {
    margin: px;
    min-height: 265px;
    padding: 15px;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 4px 4px 0px 0px;
    color: #f5f5f5;
}

.img_body {
    margin-top: -5px;
}

.carruselmio {
    float: left;
    background: rgba(59, 59, 59, 0.50);
    width: auto;
    height: auto;
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;

    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 4px 4px 4px 4px;
}

.titulos {
    text-align: left;
    font-size: 30px;
    background-color: #3b3b3b;
    width: 50%;
    border-radius: 0px 0px 30px 0px;
    -moz-border-radius: 0px 0px 30px 0px;
    -webkit-border-radius: 0px 0px 30px 0px;
    -o-border-radius: 0px 0px 30px 0px;
    margin-top: -10px;
    margin-left: -25px;
    padding-left: 30px;
    padding-bottom: 15px;
    font-family: wellcome_h1;
}

.anti_row {
    margin-right: -18px;
    margin-left: -24px;
}

.grande {
    font-size: 20px;
}

#post_body {
    margin-top: 30px;
}

.col-lg-2_5 {
    width: 24%;
}

.img_mov:hover {
    /*Cambiar de posicion*/
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);

    /*Cambiar de tamano*/
    /*transform: scale(1.04, 1.04);
    -webkit-transform: scale(1.04, 1.04);
    -o-transform: scale(1.04, 1.04);
    -ms-transform: scale(1.04, 1.04);
    -moz-transform: scale(1.04, 1.04);*/

}

.home_link {
    display: block;
    height: 50px;
    width: 50px;
}

.home_link {
    background-color: #008cba !important;
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

.top_link {
    display: block;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

.top_link {
    background-color: #008cba !important;
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

.img-thumbnail {
    background-color: #c3c3c3;
    border: 1px solid #c3c3c3;
    *box-shadow: 10px 10px 170px rgba(25, 45, 65, 0.5);

}

ul li:hover {
    cursor: hand;
}

.sombra_img {
    border: 2px solid rgba(255, 255, 241, 0.40);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 40px;
    text-align: left;
    /*width: 60%;*/
    float: left;
}

.sombra_img img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.sombra {
    padding: 15px;
    margin: 0px;
    text-align: left;
    height: 100%;
    /*: 34.6%;*/
    float: left;
}

.carruselBT {
    background: none;
    color: #3b3b3b;
}

.relleno {
    background: #3b3b3b;
    width: auto;
    height: auto;
    float: right;
    margin-right: 10px;
}

.relleno a {
    float: left;
}

.home {
    font-size: 25px;
    height: 100%;

}

#leng {
    margin: 15px;
}

#leng ul li {
    text-decoration: none;
}

#form_acti {
    margin: 5px;
}

.hre {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #eee;;
}

.bre {
    margin-bottom: 12px;
}
