/**
 * Created by PhpStorm.
 * User: edd
 * Date: 15/05/14
 * Time: 13:33
 */
/*=======================================================Etiquetas=========================*/
body{/*Cuerpo De la pagina{Damos Color de fondo, fuentes y tamaños de fuentes...}*/
    background-color: #006687;
    color: #ffffff !important;
    font-style: italic;
}

/*=====================================================Clases de estructura===============================*/
.conten_global{ /*Contenedor global de los DIV del BODY;*/
    background-color: #333333;
    border-color: #222222;
    margin-top: 0%!important;
    margin-right: 2% !important;
    margin-left: 2% !important;
    width: 96% !important;
    height: auto !important;
    min-height: 100% !important;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -ms-border-radius: 0px 0px 4px 4px;
    -o-border-radius: 0px 0px 4px 4px;
}
.conten_nav_oriz{
    margin-top:0px ;
    margin-bottom:-21px ;
}
.conten_nav_vert{
    margin-top:0px ;
    margin-bottom:0px;
    margin-left: 0px;
    margin-right: 0px;
}
.nav_left{  float: left;
            width: 20%;
            margin-right: 5px;
            *background: #000000;
         }
.nav_right{ float: left;
            width: 20%;
            margin-right: 5px;
            *background: #000000;
}
.bady_conten{
            float: left;
            width: 58.8%;
            margin-right: 5px;
            *background: #000000;
}
/*=====================================================Clases de estilo===============================*/
.backg{
    background: #efefef;
}
/*=====================================================Id===============================*/



