==
<section id="presen" class="row marg_carrusell mine_pad">
    <div class="container">
        <div class="row mine_padd">
            <div class="col-xs-12 text-center">
                <h1 class=" text-uppercase">About Me</h1>
                <hr class="hr_clasic">
            </div>
            <div class="col-md-10 col-md-offset-1">

                <p style="display:none">I'm a 29 year old cuban guy who lives in Dragør, Denmark since May 2015. In 2010 I graduated with an
                    open

                    source and web design specialty from the University of Science (UCI) in Havana. It has always been
                    my

                    passion to create, construct and design web sites. Before I started at the university I had already
                    worked

                    with Dreamweaver and Frontpage, and that's where I first developed my passion for web
                    development.</p>

                <p  style="font-size:20px">I am committed to giving my best in everything I do both as an employee and in my personal pursuits,
                    if you

                    ask my family and friends, they will say that I'm reliable and hard-working. <s hidden>They will
                        probably

                        also tell you that I'm a bit of a nerd.</s> I enjoy being part of a team, and find it to be a
                    positive

                    experience when working with ideas from my colleagues as well as contributing some of my own.
                    Working with

                    new technologies and ideas, and trying new ways of doing things is something that always motivates
                    me.</p>

                <p style="font-size:20px"> In my spare time I'm with my family consisting of my Danish wife and our three children. Even though
                    I'm from

                    Cuba I do not smoke Cohibas - but I do like to dance salsa and you will definitely see me with a
                    Heineken in

                    the hand when my favorite team FC Barcelona is playing.</p>
            </div>
        </div>
    </div>
</section>