.sombra_sombra{
    border-radius: 0px 25px 1px 25px;
    -webkit-border-radius: 0px 25px 1px 25px;
    -moz-border-radius: 0px 25px 1px 25px;
    -o-border-radius: 0px 25px 1px 25px;
    -ms-border-radius: 0px 25px 1px 25px;

    box-shadow: 3px 5px 10px black;
    -webkit-box-shadow: 3px 5px 10px black;
    -o-box-shadow: 3px 5px 10px black;
    -moz-box-shadow: 3px 5px 10px black;
    -ms-box-shadow: 3px 5px 10px black;

    padding: 10px 10px 10px 25px;
    opacity:1;
}
.sombra{
    box-shadow: 3px 5px 10px black;
    -webkit-box-shadow: 3px 5px 10px black;
    -o-box-shadow: 3px 5px 10px black;
    -moz-box-shadow: 3px 5px 10px black;
    -ms-box-shadow: 3px 5px 10px black;
    padding: 10px 10px 10px 25px;
    opacity:1;
}.otra_sombra{
    box-shadow: 3px 5px 10px black;
    -webkit-box-shadow: 3px 5px 10px black;
    -o-box-shadow: 3px 5px 10px black;
    -moz-box-shadow: 3px 5px 10px black;
    -ms-box-shadow: 3px 5px 10px black;
    padding: 10px 10px 10px 25px;
    opacity:1;
}
.borde{
    border-radius: 0px 25px 0px 25px;
    -webkit-border-radius: 0px 25px 1px 25px;
    -moz-border-radius: 0px 25px 1px 25px;
    -o-border-radius: 0px 25px 1px 25px;
    -ms-border-radius: 0px 25px 1px 25px;
}
.borde_fino{
    border-radius: 0px 25px 1px 25px;
    -webkit-border-radius: 0px 25px 1px 25px;
    -moz-border-radius: 0px 25px 1px 25px;
    -o-border-radius: 0px 25px 1px 25px;
    -ms-border-radius: 0px 25px 1px 25px;
}
.Sbsist {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    *opacity: 0.97;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align:left;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: top;
    cursor: pointer;
    background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
    border: 1px solid #1e58b9;
    border-color: #ffffff #ffffff #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;

    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -o-border-radius: 4px 4px 0px 0px;
    -ms-border-radius:4px 4px 0px 0px;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ff4eb8fe', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.fondoProf {
    border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -o-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    border-color: #0079d2;

}
#center {
    height: auto;
    width: 100%;
    min-height:99% !important;
    min-width:15% !important;
    float: none;
    position: relative;
    overflow: hidden;
}
/*============================================Notas de información=========================================*/
.contenedor_head{
    background-color: #157FCC;
    border: 0px solid #157FCC;
    width: 200px;
    height: 25px;
    border-radius: 4px 0 4px 0;
    border-bottom:0px solid #1d81ee;
    border-right:0px solid #1d81ee;
    background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #127495, #0b4c95);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#127495), to(#0b4c95));
    background-image: -webkit-linear-gradient(top, #127495, #0b4c95);
    background-image: -o-linear-gradient(top, #127495, #0b4c95);
    background-image: linear-gradient(to bottom, #127495, #0b4c95);
    background-repeat: repeat-x;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.75);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.contenedor {
    background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
    border: 1px solid #b3b3b3;
    border-color: #ffffff #ffffff #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-radius: 4px 4px 4px 4px;
    margin: 0;
    padding: 39px 19px 14px;
    position: relative;
    color: #000000;
    overflow-y:hidden;
    height:100%
}
.contenedor_Green{
    background-color: #468847;
    border: 1px solid #468847;
    width: 200px;
    height: 25px;
    border-radius: 4px 0 4px 0;
    border-bottom:1px solid #468847;
    border-right:1px solid #468847;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.contenedorG {
    background-color: #dff0d8;
    border: 1px solid #468847;
    border-radius: 4px 4px 4px 4px;
    margin: 0;
    padding: 39px 19px 14px;
    position: relative;
    overflow-y:hidden;
    height:100%
}
.contenedor_Blue{
    background-color: #3a87ad;
    border: 1px solid #3a87ad;
    width: 200px;
    height: 25px;
    border-radius: 4px 0 4px 0;
    border-bottom:1px solid #3a87ad;
    border-right:1px solid #3a87ad;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.contenedorB {
    background-color: #d9edf7;
    border: 1px solid #3a87ad;
    border-radius: 4px 4px 4px 4px;
    margin: 0;
    padding: 39px 19px 14px;
    position: relative;
    overflow-y:hidden;
    height:100%
}
.contenedor_Yelow{
    background-color: #c09853;
    border: 1px solid #c09853;
    width: 200px;
    height: 25px;
    border-radius: 4px 0 4px 0;
    border-bottom:1px solid #c09853;
    border-right:1px solid #c09853;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.contenedorY {
    background-color: #f9ffdb;
    border: 1px solid #c09853;
    border-radius: 4px 4px 4px 4px;
    margin: 0;
    padding: 39px 19px 14px;
    position: relative;
    overflow-y:hidden;
    height:100%
}
.contenedor_Red{
    background-color: #b94a48;
    border: 1px solid #b94a48;
    width: 200px;
    height: 25px;
    border-radius: 4px 0 4px 0;
    border-bottom:1px solid #b94a48;
    border-right:1px solid #b94a48;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.contenedorR {
    background-color: #f2dede;
    border: 1px solid #b94a48;
    border-radius: 4px 4px 4px 4px;
    margin: 0;
    color: #b94a48;
    padding: 39px 19px 14px;
    position: relative;
    overflow-y:hidden;
    height:100%
}
.footer{
  clear: both;
    background:#000000;
    /*background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);*/
  overflow: auto;
  color: #ffffff;
  height:100px;
  width: 100%;
  opacity: 0.90;
}
.borde{
    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
    -ms-border-radius:0px 0px 25px 25px;
}
.bs-docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }
.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
ol.linenums {
    margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
}
.banner_Sup{
    width: 100%;
    height: 70px;
    border-color: #003399;
    border: 3px;
    background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
}
.banner_Inf{
    width: 100%;
    min-height: 100px ;
    min-width: 99% ;
    border-color: #003399;
    border: 3px;
    background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
}
.fondo_mio{
    text-align:left;
    color: #f2f6f2;
    text-shadow: 0 1px 1px rgba(4, 5, 20, 0.29);
    vertical-align: top;
    cursor: pointer;
    background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #127495, #0b4c95);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#127495), to(#0b4c95));
    background-image: -webkit-linear-gradient(top, #127495, #0b4c95);
    background-image: -o-linear-gradient(top, #127495, #0b4c95);
    background-image: linear-gradient(to bottom, #127495, #0b4c95);
    background-repeat: repeat-x;
}
.fondo_tbody{
    text-align:left;
    color: #000000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: top;
    cursor: pointer;
    background-color: #f2f6f2;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
}
.baner_foot{
    background-image: url("../../../../App/Client/Imgs/imgprueba/bot02.png")!important; background-repeat: no-repeat; ;
}
#right-side {
    height: auto;
    min-height: 400px;
    width: 180px;
    border-left: 0px solid #ececec;
    float: left;
    position: relative;
}
#left-side {
    height: auto;
    width:auto;
    min-height:99% !important;
    min-width: 16% !important;
    border-right: 1px solid #ececec;
    float: left;
    position: relative;
}
/*============================================Notas de información=========================================*/
#screen {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background: #000;
}
#screen img {
    position: absolute;
    cursor: pointer;
    visibility: hidden;
    width: 0px;
    height: 0px;
    -ms-interpolation-mode:nearest-neighbor;
}
#screen .tvover {
    border: solid #fff;
}
#screen .tvout {
    border: solid #222;
}
#bankImages {
    display: none;
}
/*============================================Notas de información=========================================*/
#center_slider {
    position: absolute;
    left: 50%;
    top:  50%;
}
#slider {
    position: absolute;
    width: 820px;
    height: 333px;
    left: -430px;
    top: -186px;
    overflow: hidden;
    background: #000;
    border: 20px solid #000;
}
#slider .slide {
    position: absolute;
    top: 0px;
    height: 333px;
    width: 500px;
    background: #000;
    overflow: hidden;
    border-left: #000 solid 1px;
    cursor: default;
}
#slider .title   {
    color: #F80;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 1.5em;
    text-decoration: none;
}
#slider .backgroundText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background: #000;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
#slider .text {
    position: absolute;
    top: 1%;
    top: 100%;
    color: #FFF;
    font-family: verdana, arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    width: 470px;
    left: 10px;
}
#slider .diapo {
    position: absolute;
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: hidden;
}