.body {
    height: 100%;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #4cb1ff, #3B6A97);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4CB1FF), to(#3B6A97));
    background-image: -webkit-linear-gradient(top, #4CB1FF, #3B6A97);
    background-image: -o-linear-gradient(top, #4CB1FF, #3B6A97);
    background-image: linear-gradient(to right bottom, #4CB1FF, #3B6A97);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4CB1FF', endColorstr='#ff3B6A97', GradientType=0);
    zoom: 1;
    }
.comp{
    background:transparent url(../img/cog.png) 0px 0px no-repeat !important;
  }
.add{
    background:transparent url(../img/cog_add.png ) 0px 0px no-repeat !important;
}
.import{
    background:transparent url(../img/cog_edit.png ) 0px 0px no-repeat !important;
}
.adelante{
    background:transparent url(../img/arrow_right.png) 0px 0px no-repeat !important;
}
.atras{
    background:transparent url(../img/arrow_left.png) 0px 0px no-repeat !important;
}
