==
<section class="text-center" id="carousel" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row">
           <div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">

                    <!-- Carousel indicators -->

                    <!-- ol class="carousel-indicators">

                        <li data-target="#fade-quote-carousel" data-slide-to="0"></li>

                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>

                        <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>

                        <li data-target="#fade-quote-carousel" data-slide-to="3"></li>

                        <li data-target="#fade-quote-carousel" data-slide-to="4"></li>

                    </ol -->

                    <!-- Carousel items -->

                    <div class="carousel-inner">


                        <div class="item">

                            <div class="profile-circle" style="background-color: #212121;">

                                <a href="index#presen">

                                    <img src="themes/eddremonts/assets/images/index/eddremonts.dk index.png"
                                         style="width: 200px; height: 200px;" class="img-circle img-thumbnail">

                                </a>

                            </div>

                            <blockquote>
                                <a href="index#presen">
                                    <h2  style="color:#1E88E5">About Me</h2>
                                </a>
                                <p>I'm a 30 year old cuban guy who lives in Dragør.<br> Denmark since May 2015.</p>
                            </blockquote>

                        </div>


                        <div class="item">

                            <div class="profile-circle" style="background-color: #212121;">

                                <a href="index#experi">

                                    <img src="themes/eddremonts/assets/images/index/eddremonts.dk index2.png"
                                         style="width: 200px; height: 200px;" class="img-circle img-thumbnail">

                                </a>

                            </div>

                            <blockquote>
                                <a href="index#experi"><h2  style="color:#1E88E5">Work Experience</h2></a>
                                <p>
                                 In 2010 I graduated with an open source and web design specialty.
                                <br>9+ YEARS AS A WEB DEVELOPER</p>
                            </blockquote>

                        </div>


                        <div class="item active">

                            <div class="profile-circle" style="background-color: #212121;">

                                <a href="index#page-top">
                                    <img src="themes/eddremonts/assets/images/index/edd.jpeg"
                                         class="img-circle img-thumbnail">

                                </a>

                            </div>

                            <blockquote>

                                <a href="index#page-top">
                                    <h2  style="color:#1E88E5">Eduardo Valdés Inerarte</h2>
                                </a>
                                <p>A skilled and creative web developer <br>
                                    PHP/ HTML5/ CSS3/ LESS/ Bootstrap/ Ext js/ jQuery</p>

                            </blockquote>

                        </div>


                        <div class="item">

                            <div class="profile-circle" style="background-color: #212121;">

                                <a href="portfolio">

                                    <img src="themes/eddremonts/assets/images/index/eddremonts.dk portfolio0.png"
                                         style="width: 200px; height: 200px;" class="img-circle img-thumbnail">

                                </a>

                            </div>

                            <blockquote>
                                <a href="portfolio"><h2  style="color:#1E88E5">My Work</h2></a>
                                <p>Please know more about my work and qualities as a developer.<br> That is my cover letter</p>
                            </blockquote>

                        </div>


                        <div class="item">

                            <div class="profile-circle" style="background-color: #212121;">

                                <a href="index#carrera">
                                    <img src="themes/eddremonts/assets/images/index/eddremonts.dk index4.png"
                                         style="width: 200px; height: 200px;" class="img-circle img-thumbnail">
                                </a>

                            </div>

                            <blockquote>
                                <a href="index#carrera">
                                    <h2 style="color:#1E88E5">My Career</h2>
                                </a>
                                <p>I have more than nine years of work experience and my former colleagues all know
                                    me as a helpful, hard working and inspiring person.</p>
                            </blockquote>

                        </div>


                    </div>

                </div>
				<div class="loader" id="loader">Loading...</div>
            </div>
        </div>
    </div>
</section>