==
<section class="row social">
    <div class="col-xs-12 text-center">
        <div style="margin-top: 25px" class="social_link">

            <a class="hvr-pulse hidden-xs hidden-sm" href="https://github.com/eddremonts86" target="_blank">
                <i class="btn icon-github btn-round icon-1x index_social" style="padding-left: 11px; padding-right: 11px;"></i>
            </a>

            <a class="hvr-pulse" href="https://www.linkedin.com/in/eduardo-inerarte-643843bb?trk=nav_responsive_tab_profile" target="_blank">
                <i class="btn icon-linkedin btn-round  icon-1x index_social" style="padding-left: 13px; padding-right: 13px;"></i>
            </a>
            <a class="hvr-pulse" href="https://drive.google.com/open?id=0B7V0tRMKC_PcWVZPUUc4LTFOcTg" target="_blank">
                <i class="btn icon-download btn-round icon-1x index_social" style="padding-left: 13px; padding-right: 13px;"></i>
            </a>
            <a class="hvr-pulse" href="https://www.facebook.com/edd.remonts" target="_blank">
                <i class="btn icon-facebook btn-round icon-1x index_social" style="padding-left: 19px; padding-right: 19px;"></i>
            </a>


            <a class="hvr-pulse hidden-xs hidden-sm" href="https://twitter.com/eddremonts" target="_blank">
                <i class="btn icon-twitter btn-round icon-1x index_social" style="padding-left: 11px; padding-right: 11px;"></i>
            </a>


        </div>
    </div>    
</section>