description = "Portfolio head"
==
<section id="header" class="row datos_proy_info">&nbsp;</section>
<section class="presentation_datos_proy_info" style="min-height: 500px; padding-top: 50px;color: white">
    <div class="container">
        <div class="row">
            <div class='col-md-12 text-center'>
                <p class="wico">
                    My recent projects.
                </p>
            </div>
        </div>
        <div style="display: none" class='row'>
            <div class='col-md-offset-2 col-md-8'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                        <li data-target="#quote-carousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <img class="img-circle img-thumbnail img_head" src="themes/eddremonts/assets/images/portafolio/head/te.jpg">
                                        <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                                    </div>
                                    <div class="col-sm-8 ">
                                        <p><br>Nine years of work experience.<br>
                                            A good team worker and a loyal colleague.</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <img class="img-circle img-thumbnail img_head" src="http://www.gifsanimados.org/data/media/56/computadora-y-ordenador-imagen-animada-0004.gif">
                                    </div>
                                    <div class="col-sm-8">
                                        <p><br>Polished and 100 % usable interfaces.<br>
                                            Skills in frontend and backend development.</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <img class="img-circle img-thumbnail img_head" src="http://media.tumblr.com/tumblr_lyt40ukQEW1qh6ly7.gif">
                                    </div>
                                    <div class="col-sm-8">
                                        <p><br>Up-to-date knowledge of web technologies<br>Hard work and dedication.</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 4 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <img class="img-circle img-thumbnail img_head" src="http://www.gifsanimados.org/data/media/107/baile-imagen-animada-0243.gif">
                                    </div>
                                    <div class="col-sm-8">
                                        <p>
                                        <br><br>
                                        Impressive salsa moves.</p>                                         
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>