==
<section class="skill_promo">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box effect4_ col-md-4 text-center gradiente_1_ mine_padd-bottom">
                <div class="col-xs-12 text-center">
                    <img class="img-circle img-thumbnail img_head"
                         src="themes/eddremonts/assets/images/skills/one.jpg">
                </div>
                <div class="col-xs-12 text-center">
                    <h1 class="white">
                        <small>Design</small>
                    </h1>
                    <p class="white">
                        System Design <br>
                        Interface Design </br>
                        Data Base Design</br>
                    </p></div>
            </div>
            <div class="box effect2_ col-md-4 text-center gradiente_2_ mine_padd-bottom">
                <div class="col-xs-12">
                    <img class="img-circle img-thumbnail img_head"
                         src="themes/eddremonts/assets/images/skills/two.png">
                </div>
                <div class="col-xs-12">
                    <h1 class="white">
                        <small>Front-end</small>
                    </h1>
                    <p class="white">
                        User interface</br>
                        Systems Interface</br>
                        Interface for web and mobile</br>
                    </p>
                </div>
            </div>
            <div class="box effect3_ col-md-4 text-center gradiente_3_ mine_padd-bottom">
                <div class="col-xs-12">
                    <img class="img-circle img-thumbnail img_head"
                         src="themes/eddremonts/assets/images/skills/tree.webp">
                </div>
                <div class="col-xs-12">
                    <h1 class="white">
                        <small>Back-end</small>
                    </h1>
                    <p class="white">
                        Implementation of modules</br>
                        Implementation of Plugins</br>
                        Handling and maintenance of BD</br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="row skiller">
    <div class="container text-center ">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="skills_head">
                    <small class="small_h1">Skills and Competences.</small>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="row skill_container">
    <div class="container text-center ">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <span class="skill bk"> PHP</span>
                <span class="skill ds"> Visual Paradigm</span>
                <span class="skill ft"> HTML5</span>
                <span class="skill ft"> CSS3</span>
                <span class="skill ft_bk"> Obtober cms</span>
                <span class="skill ft"> Bootstrap</span>
                <span class="skill bk"> MySql</span>
                <span class="skill ds"> Adobe Photoshop</span>
                <span class="skill bk"> PostgreSql</span>
                <span class="skill ft"> JavaScript</span>
                <span class="skill ft"> Ext js</span>
                <span class="skill ds"> Adobe Ilustrator</span>
                <span class="skill ft"> jQuery</span>
                <span class="skill ft_bk"> Joomla</span>
                <span class="skill ft"> LESS</span>
                <span class="skill bk"> Java</span>
                <span class="skill ft_bk"> Drupal</span>
                <span class="skill bk"> C# (ASP.NET MVC)</span>
                <span class="skill bk"> C++</span>
                <span class="skill ft_bk"> WordPress</span>
                <span class="skill ft"> Angular js</span>
                <span class="skill bk"> Symfony</span>
                <span class="skill ft"> SASS</span>
                <span class="skill bk"> Laravel</span>
                <span class="skill bk"> GIT</span>
                <span class="skill ds"> Rational Unified Process - RUP</span>
            </div>
        </div>
    </div>
</section>