==
<section class="row minimo">
    <div class="container-fluid  social text-right" style="background: rgb(30, 136, 229)">
        <div class="color">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="color">Fast <small>and</small> Robust <small>development.</small></h1>
                    <h2>
                        <small class="color"> I have always prefered  to keep my applications simple , beautiful and easy to work in for the end user.   <br>
                                I am always trying to design  the most user friendly solution for my costumers and I will always have this in mind when I start a new project.
                        </small>                        
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>