==
<section class="row profile" style="background: #fff" >
    <div class="container">
        <div class="row">
            <div class="col-lg-11 Anaranjado">
                <ul class="timeline">
                    <li class="hidden-xs hidden-sm text-center" style="margin-bottom: -10px;">
                        <h2 style="color: #212121">Stream Sites
                            <small class="class_small">- Laravel and Obtober cms.</small>
                        </h2>
                        <hr class="hr_clasic_black">
                    </li>
                    <li>
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/1.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile" href="http://live-fodbold.dk/"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile" href="http://live-fodbold.dk/"><h4>LIVE
                                    FODBOLD </h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    In live-fodbold.dk we will give you the best experience with live streaming online.
                                    We have found the best suppliers so you can concentrate on what they know all about
                                    football. </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular ">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/2.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile" href="http://voirlematch.fr/"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile" href="http://voirlematch.fr/"><h4>
                                    VOIRLEMATCH</h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Go to full articles , the latest results , streaming guides and much more!
                                    Choose the sport you want to watch live or go directly to the streaming platform
                                    below. </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular ">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/3.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank"
                                       href="http://www.live-fodbold.dk/em-2016-live"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile"
                                   href="http://www.live-fodbold.dk/em-2016-live"><h4>LIVE FODBOLD - EM</h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    We will give you the best experience with live streaming online.
                                    We have found the best suppliers so you can concentrate on what they know all about
                                    football in EM. </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular ">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/7.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank"class="profile"  href="http://livefodboldstreams.dk/"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile" href="http://livefodboldstreams.dk/"><h4>
                                    Livefodboldstreams</h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Go to full articles , the latest results , streaming guides and much more!
                                    Choose the sport you want to watch live or go directly to the streaming platform
                                    below. </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular ">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/10.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank"
                                       href="http://www.watchonlinehorseracing.co.uk/"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile"
                                   href="http://www.watchonlinehorseracing.co.uk/"><h4>Watchonlinehorseracing.co.uk</h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    We will give you the best experience with live streaming online.
                                    We have found the best suppliers so you can concentrate on what they know all about
                                    football in EM. </p>
                            </div>
                        </div>
                        <!--<div class="line"></div>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% partial "portfolio_tpl/disg_dev" %}
<section class="row" style="background: #fff; padding-bottom: 50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 Violeta">
                <ul class="timeline">
                    <li class="hidden-xs hidden-sm text-center" style="margin-bottom: -70px;">
                        <h2 style="color: #212121">News Sites
                            <small class="class_small">- Drupal and Jommla.</small>
                        </h2>
                        <hr class="hr_clasic_black">
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular ">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/4.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank" href="http://www.sportal.se/"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading"style="padding-top:70px">                            
                                <a target="_blank" class="h4_a" href="http://www.sportal.se/">SPORTAL</a> and <a target="_blank" class="h4_a" href="http://www.wsn.com/">WSN</a>                            
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Specializing in sports interest news site . Collect articles and statistics about
                                    the most famous leagues and views in the world
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/5.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank" href="http://www.rguama.icrt.cu/index.php?option=com_content&view=featured&Itemid=157&lang=en"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank"class="profile" href="http://www.rguama.icrt.cu/index.php?option=com_content&view=featured&Itemid=157&lang=en"><h4>GUAMA RADIO </h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Web specialized in providing news of <br>national and international character.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/8.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank" href="http://www.sefodbold.dk/"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank"class="profile" href="http://www.rguama.icrt.cu/index.php?option=com_content&view=featured&Itemid=157&lang=en"><h4>Sefodbold</h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Web specialized in providing news of <br>national and international character.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/6.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank" href="http://www.guerrillero.cu/en/"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile" href="http://www.guerrillero.cu/en/"> <h4>GUERRILLERO NEWS</h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Web specialized in providing news of national and international character.
                                </p>
                            </div> </div>
                        <div class="line"></div>                   
                    </li>
                    <li>
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/9.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank" href="http://dev-bubbles.pantheonsite.io/"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank"class="profile" href="http://dev-bubbles.pantheonsite.io/"><h4>Bubbles.dk</h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Web specialized in providing news of <br>national and international character.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image hidden-xs hidden-sm">
                            <figure class="imghvr-fade circular">
                                <img class="img-circle img-responsive img_circ"
                                     src="themes/eddremonts/assets/images/portafolio/site/11.png" alt="">
                                <figcaption>
                                    <a style="margin-top: 85px; margin-left: 60px" target="_blank" href="http://www.superbold.dk"> <i
                                            class="btn icon-eye-open btn-round icon-1x"></i> </a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a style="margin-top: 85px; margin-left: 60px" target="_blank" class="profile" href="https://www.superbold.dk/">
                                    <h4>Superbold.dk</h4></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Web specialized in providing news of national and international character.
                                </p>
                            </div> </div>
                        <div class="line"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>