
article{
  /*  color: rgba(0,0,0,1);
    background: rgba(255,255,255,0.5);
*/
    color: rgba(255,255,255,1);
    background:rgba(38,134,229,18);

    margin: 20px;
    width:90%;
    min-height:28%;
    height: auto;
    border: 0px solid dodgerblue;

    border-radius: 0px 25px 0px 25px;
    -webkit-border-radius: 0px 25px 0px 25px;
    -moz-border-radius: 0px 25px 0px 25px;
    -o-border-radius: 0px 25px 0px 25px;
    -ms-border-radius: 0px 25px 0px 25px;

    box-shadow: 3px 5px 10px black;
    -webkit-box-shadow: 3px 5px 10px black;
    -o-box-shadow: 3px 5px 10px black;
    -moz-box-shadow: 3px 5px 10px black;
    -ms-box-shadow: 3px 5px 10px black;

    padding: 10px 10px 10px 25px;
    opacity:1;

    transition: opacity 1s, box-shadow 1s, transform 1s, background 1s,color 1s ,border-radius 1s;
    -webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s ,border-radius 1s;
    -o-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s,border-radius 1s;
    -moz-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s, border-radius 1s;
    -ms-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s, border-radius 1s;

    transform:scale(1,1);
    -o-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -webkit-transform:scale(1,1);
}
article:hover{
   /* color: rgba(255,255,255,1);
    background:rgba(38,134,229,18);
   */
    color: rgba(0,0,0,1);
    background: rgba(255,255,255,0.5);

    opacity:1;
    margin: 20px;
    border: 1px solid dodgerblue;

    border-radius: 25px 0px 25px 0px;
    -webkit-border-radius:  25px 0px 25px 0px;
    -moz-border-radius:  25px 0px 25px 0px;
    -o-border-radius:  25px 0px 25px 0px;
    -ms-border-radius:  25px 0px 25px 0px;

    box-shadow: 3px 5px 10px black;
    -webkit-box-shadow: 3px 5px 10px black;
    -o-box-shadow: 3px 5px 10px black;
    -moz-box-shadow: 3px 5px 10px black;
    -ms-box-shadow: 3px 5px 10px black;

    transform:scale(1.04,1.05);
    -webkit-transform:scale(1.04,1.05);
    -o-transform:scale(1.04,1.05);
    -moz-transform:scale(1.04,1.05);
    -ms-transform:scale(1.04,1.05);
}
time{
    float:right;
    font-family:ubuntuRegular;
    font-size:10px;
}
article:hover{
    box-shadow: 0px 0px 25px white;
    -webkit-box-shadow: 0px 0px 25px white;
    -o-box-shadow: 0px 0px 25px white;
    -moz-box-shadow: 0px 0px 25px white;
    -ms-box-shadow: 0px 0px 25px white;
}
.morer{float:right;}
.datos{
    height: 90%;
}
.texth3{
    text-shadow:2px 3px 5px rgba(4, 5, 20, 0.80);
    -webkit-text-shadow:2px 3px 5px rgba(4, 5, 20, 0.80);
    -o-text-shadow:2px 3px 5px rgba(4, 5, 20, 0.80);
    -moz-text-shadow:2px 3px 5px rgba(4, 5, 20, 0.80);
}
.texth5{
    text-shadow:2px 3px 5px rgba(4, 5, 20, 0.80);
    -webkit-text-shadow:2px 3px 5px rgba(4, 5, 20, 0.80);
    -o-text-shadow:2px 3px 5px rgba(4, 5, 20, 0.80);
    -moz-text-shadow:2px 3px rgba(4, 5, 20, 0.80);
}
.invalid_http{
    color: rgba(255,255,255,1);
    background: rgba(149, 15, 14, 1);
    margin: 20px;
    width:90%;
    min-height:28%;
    height: auto;
    border: 0px solid dodgerblue;
    padding: 10px,10px,10px,150px,;
}
.regulaciones{
    color: rgba(255,255,255,1);
    background: rgb(11, 76, 149);
    margin: 20px;
    width:90%;
    min-height:28%;
    height: auto;
    border: 0px solid dodgerblue;
    padding: 10px,10px,10px,150px,;
}
.informacion{
    color: rgba(255,255,255,1);
    background: rgb(18, 116, 149);
    margin: 20px;
    width:90%;
    min-height:28%;
    height: auto;
    border: 0px solid dodgerblue;
    padding: 10px,10px,10px,150px,;
}
.Inst_sist{
    color: rgba(255,255,255,1);
    background: rgb(18, 116, 149);
    margin: 20px;
    width:60%;
    min-height:28%;
    height: auto;
    border: 0px solid dodgerblue;
    padding: 10px,10px,10px,150px,;
}
a.invalid_http{
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.sombra{
    border-radius: 0px 25px 1px 25px;
    -webkit-border-radius: 0px 25px 1px 25px;
    -moz-border-radius: 0px 25px 1px 25px;
    -o-border-radius: 0px 25px 1px 25px;
    -ms-border-radius: 0px 25px 1px 25px;

    box-shadow: 3px 5px 10px black;
    -webkit-box-shadow: 3px 5px 10px black;
    -o-box-shadow: 3px 5px 10px black;
    -moz-box-shadow: 3px 5px 10px black;
    -ms-box-shadow: 3px 5px 10px black;

    padding: 10px 10px 10px 25px;
    opacity:1;
}
.pruebass{
    background: #0000cc;
    color: #ffffff;

}