/*
@media (max-width: 979px) {
    .navbar--bottom {
        margin-top: 20px;
        position:fixed ;
    }
    .home_internal{
        width:47% ;
    }
}*/

/* Small desktop */
@media (max-width: 1380px) {
    body{
        padding-right: 0px ;
        padding-left: 0px ;
    }
    .home_internal{
        width:37% ;
    }
    #edd_home_ h1,h2,h3{
        font-size: 40px;
    }
}

/* Tablets */
@media (max-width: 1040px) {
    body{
        padding-right: 0px ;
        padding-left: 0px ;
    }
    .home_internal{
        width:47% ;
    }
    #edd_home_ h1,h2,h3{
        font-size: 35px ;
    }
}

/* Small tablets */
@media (max-width: 840px) {
    body{
        padding-right: 0px ;
        padding-left: 0px ;
    }
    .home_internal{
        width:67% ;
    }
    #edd_home_ h1,h2,h3{
        font-size: 30px ;
    }
}

/* Mobile */
@media (max-width: 580px) {
    body{
        padding-right: 0px ;
        padding-left: 0px ;
    }
    .home_internal{
        width:77% ;
    }
    #edd_home_ h1,h2,h3{
        font-size: 27px ;
    }
}