@charset "utf-8";

.success {
	border:1px solid #003380; 
	background:#afc6e9 url(../img/image/success.png) 8px 2px no-repeat;
	color:#162d50;
	font-weight:bold;
	padding:5px 2px 0px 35px;	
}

.message {
	border:3px solid #5aa02c; 
	background:#e3f4d7 url(../img/image/message.png) 8px 2px no-repeat;
	color:#2d5016;
	font-weight:bold;
	padding:5px 2px 0px 35px;	
}
.message1 {
	border:3px solid #5aa02c; 
	background:#e3f4d7;
	color:#2d5016;
	font-weight:bold;
	padding:5px 2px 0px 35px;
    font-size:1.15em;	
}

.warning {
	border:3px solid #aa8800; 
	background:#fff6d5 url(../img/image/warning.png) 8px 2px no-repeat;
	color:#554400;
	font-weight:bold;
	padding:5px 2px 0px 35px;	
}

.error {
	border:3px solid #d40000; 
	background:#ffd5d5 url(../img/image/error.png) 8px 2px no-repeat;
	color:#550000;
	font-weight:bold;
	padding:5px 2px 0px 35px;	
}