description = "Index"
==
<html lang="en">
{% partial "tpl_system/head" %}
    <body id="page-top" class="body">
        <div class="body_index container-fluid">
            {% page %}
            {% partial "tpl_system/scrit" %}
            {% framework extras %}
            {% scripts %}
        </div>
    </body>
<script>
    $(document).ready(function () {
        var currentLocation = window.location;
        window.setTimeout(function () {
            location.href = currentLocation+"index";
        }, 25000);
    });
</script>
</html>