==
<section id="carrera" class=" row experience_bg">
<div id="experi" class="col-xs-12 doblew">
    <div id="expe" class=" container carrera">
        <div class="col-xs-12 text-center">
            <h1 style="color:#212121" class=" text-uppercase">My Career</h1>
        </div>
        <div class="col-xs-12">                    
                     <div class="col-md-6">
                         <p>
                            I'm a skilled and creative <b>Back-end</b> and <b>Front-end</b> web developer,
                            looking for a challenging position creating useful software. I'm eager to work with new ideas and
                            technologies, to create high quality solutions and make the web a better place.
                        </p>
                        <p>
                            I enjoy difficult problems as they give me an opportunity to demonstrate my flexibility
                            and ability to observe the projects from another angle in order to come to a solution.
                        </p>                         
                    </div>
                    <div class="col-md-6">                        
                        <p>
                            Most recently, I worked in GEOCUBA where I made 5 applications and a framework(ArtKit) with
                            two colleagues. In May 2014 I started my own project, Viruta Estudio Creativo, where I created
                            systems for different Cuban companies like
                        <a href="http://www.rguama.icrt.cu/index.php?option=com_content&view=featured&Itemid=157&lang=en" target="_blank" class="white-link">Radio  Guamá</a>
                        and <a href="http://www.guerrillero.cu/en/" target="_blank" class="white-link">Guerrillero.</a>
                        </p>
                        <p>
                         At the moment I'm working in Rebel Penguin Aps as a Full Developer. My main task is to develop  new sites using Drupal or Rige technologies plus html5, css3 and js. 
                        </p>
                    </div>
        </div>
    </div>
</div>
</section>