==
<section id="contac" class=" uptodown row">
    <div class="container">

        <div class="col-xs-12 text-center">
            <h1 class="text-uppercase margen color-head text-center" style="color:#fff;">
                PERSONAL INFORMATION</h1>
        </div>

        <div class="col-md-offset-2 col-md-4 pdata_zise color">

            <div class="pull-left margen"><span class="icon-user" aria-hidden="true"></span><b> Name:</b>

                Eduardo Valdés Inerarte<br> <span class="icon-map-marker" aria-hidden="true"></span><b>

                    Address:</b> Dragør (Denmark)<br>
                <span id="email" class="icon-envelope" aria-hidden="true"></span> <b>
                    Email:</b><a

                        href="mailto:eduardo.inerarte@gmail.com" class="white-link"> eduardo.inerarte@gmail.com</a><br>
                <span class="icon-education" aria-hidden="true"></span>
            </div>

        </div>

        <div class="col-md-4 pdata_zise color">

            <div class="pull-left margen"> <span class="icon-comment" aria-hidden="true"></span> <b>Languages:</b>

                Spanish, English, Danish <br> <span class="icon-star-empty" aria-hidden="true"></span> <b>Date

                    of birth:</b> 30/12/1986, Cuba<br> 
                     <span id="email" class="icon-male" aria-hidden="true"></span>  <b>Academic title:</b> IT Engineer<br>
            </div>

        </div>


    </div>
</section>